<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.barracuda.barracudaweixin.garden.table.mapper.TableMapper">
    
    <resultMap type="com.barracuda.barracudaweixin.garden.table.domain.Table" id="TableResult">
        <result property="id"    column="id"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
        <result property="delFlag"    column="del_flag"    />
        <result property="remark"    column="remark"    />
        <result property="name"    column="name"    />
        <result property="weekNum"    column="week_num"    />
        <result property="periodNum"    column="period_num"    />
    </resultMap>

    <sql id="selectTableVo">
        select id, create_by, create_time, update_by, update_time, del_flag, remark, name, week_num, period_num from gd_table
    </sql>

    <select id="selectTableList" parameterType="com.barracuda.barracudaweixin.garden.table.domain.Table" resultMap="TableResult">
        <include refid="selectTableVo"/>
        <where>  
            <if test="name != null  and name != ''"> and name like concat('%', #{name}, '%')</if>
            <if test="weekNum != null "> and week_num = #{weekNum}</if>
            <if test="periodNum != null "> and period_num = #{periodNum}</if>
        </where>
    </select>
    
    <select id="selectTableById" parameterType="Long" resultMap="TableResult">
        <include refid="selectTableVo"/>
        where id = #{id}
    </select>

    <insert id="insertTable" parameterType="com.barracuda.barracudaweixin.garden.table.domain.Table" useGeneratedKeys="true" keyProperty="id">
        insert into gd_table
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="delFlag != null">del_flag,</if>
            <if test="remark != null">remark,</if>
            <if test="name != null">name,</if>
            <if test="weekNum != null">week_num,</if>
            <if test="periodNum != null">period_num,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="delFlag != null">#{delFlag},</if>
            <if test="remark != null">#{remark},</if>
            <if test="name != null">#{name},</if>
            <if test="weekNum != null">#{weekNum},</if>
            <if test="periodNum != null">#{periodNum},</if>
         </trim>
    </insert>

    <update id="updateTable" parameterType="com.barracuda.barracudaweixin.garden.table.domain.Table">
        update gd_table
        <trim prefix="SET" suffixOverrides=",">
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="delFlag != null">del_flag = #{delFlag},</if>
            <if test="remark != null">remark = #{remark},</if>
            <if test="name != null">name = #{name},</if>
            <if test="weekNum != null">week_num = #{weekNum},</if>
            <if test="periodNum != null">period_num = #{periodNum},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteTableById" parameterType="Long">
        delete from gd_table where id = #{id}
    </delete>

    <delete id="deleteTableByIds" parameterType="String">
        delete from gd_table where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

</mapper>